@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    /* box-sizing: border-box; */
}

body{
    background-color: white;
    width: 100%;
    height: 100%;
}

.test{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.main{
    font-family: "Karla";
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
}

h1{
    color: hsl(179, 62%, 43%);
}

h2{
    color: hsl(71, 73%, 54%);
}

.library_of_tutorials{
    color: hsl(218, 22%, 67%);
}

.lower_half{
    display: flex;
    width: 100%;
}

.Subscription{
    background-color: hsl(179, 62%, 43%);
    color: white;
    padding: 10px;
    border-bottom-left-radius: 15px;
    width: 100%;
    padding: 25px;
}

.per_month{
    color: hsl(204, 43%, 93%);
}

strong{
    color: white;
    font-size: 150%;
}

button{
    color: white;
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 40px;
}

.Why{
    background-color: hsl(179, 55%, 56%);
    border-bottom-right-radius: 15px;
    width: 100%;
    padding-left: 40px;
}

.Us{
    color: white;
}

.bullet_points{
    color: hsl(204, 43%, 93%);
    list-style: none;
}