@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
}

img{
    border-radius: 50%;
}

body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.image{
    width: 30%;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.everything {
  background-color: hsl(0, 0%, 12%);
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
}

h1{
    color:hsl(0, 0%, 100%);
    margin-bottom: 0;
}

h2{
    color:hsl(75, 94%, 57%);
    font-size: 80%;
}

p{
    color:hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 400;
}

.GitHub{
    background-color: hsl(0, 0%, 20%);
    font-weight: 600;
    color: white;
    border: 100px;
    border-radius: 4px;
    padding: 15px;
}

.Frontend_Mentor{
    background-color: hsl(0, 0%, 20%);
    font-weight: 600;
    color: white;
    border: 100px;
    border-radius: 4px;
    padding: 15px;
}

.LinkedIn{
    background-color: hsl(0, 0%, 20%);
    font-weight: 600;
    color: white;
    border: 100px;
    border-radius: 4px;
    padding: 15px;
}

.Twitter{
    background-color: hsl(0, 0%, 20%);
    font-weight: 600;
    color: white;
    border: 100px;
    border-radius: 4px;
    padding: 15px;
}

.Instagram{
    background-color: hsl(0, 0%, 20%);
    font-weight: 600;
    color: white;
    border: 100px;
    border-radius: 4px;
    padding: 15px;
}